body, .inp-btn, .text-info{
    background-color: #333333;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    height: 100px;
}
input{
    border: 2px solid #f89427;
    height: 50px;
    font-size: 22px;
}
.inp-btn{
    color: #f89427;
}
.inp-btn:hover{
    background-color: #f89427;
    color: #333333;
}
ol{
    padding-left: 0;
    margin-top: 50px;
    height: 40px;

}
li{
    display: grid;
    font-family: Consolas;
    margin: 1px 0;
    color: #333333;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}
li:hover div{
    background-color: #333333;
    border: 0;
    color: #f89427;
}
.info{
    font-size: 32px;
    padding-left: 20px;
    height: 40px;
    border: 2px solid #f89427;
    background-color: #f89427;
}
.title{
    font-family: Consolas;
    color: #f89427;
    font-size: 32px;
    padding-left: 20px;
    border: 2px solid #f89427;
}
.text-info{
    padding-left: 20px;
    color: #f89427;
}
::placeholder {
    color: #f89427;
    opacity: 1;
}