html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header{
	display: grid;
	grid-template-columns: 1fr 5fr;
	padding: 20px 20px 0 20px;
}

header .radio-group{
	display: grid;
	grid-template-rows: 1fr 1fr;
	position: relative;
	padding-left: 30px;
}

header .radio-group label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

header .radio-group label input{
	display: none;
}

header .radio-group label span{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #c0c0c0;
	border: 2px solid #000000;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

header .radio-group label:last-child span{
	margin-top: 55px;
}

header .radio-group label span::after{
	content: '';
	height: 12px;
	width: 12px;
	background: #c0c0c0;
	display: block;
	position: absolute;
	left: 20%;
	top: 20%;
	transform: scale(0);
	border-radius: 50%;
	transition: 300ms ease-in-out 0s;
}

header .radio-group label input:checked ~ span{
	background-color: #0000a0;
}

header .radio-group label input:checked ~ span::after{
	transform: scale(1);
}

header .main-inputs{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}

header .main-inputs input{
	height: 30px;
	font-size: 18px;
}

header .main-inputs .text-info{
	padding-left: 10px;
}

header .main-inputs .inp-btn{
	border: none;
}

header .main-inputs .create{
	background-color: #30A54A;
}

header .main-inputs .create:hover{
	border: #30A54A;
	border-radius: 20px;
	transition-duration: 0.5s;
	background-color: #40c85f;
}

header .main-inputs .upd{
	background-color: #FDC02E;
}

header .main-inputs .upd:hover{
	border: #fdca53;
	border-radius: 20px;
	transition-duration: 0.5s;
	background-color: #fdca53;
}

header .main-inputs .del{
	background-color: #D93749;
}

header .main-inputs .del:hover{
	border: #de5462;
	border-radius: 20px;
	transition-duration: 0.5s;
	background-color: #de5462;
}

.main-div .content .main-title{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	border-top: 2px solid rgba(153, 153, 153, 0.6);
	border-bottom: 1.5px solid rgba(153, 153, 153, 0.6);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-top: 15px;
	padding: 10px 20px;

}

.main-div .content .main-title .title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700;
}

ol{
	padding-left: 0;
	list-style: unset;
	height: 40px;
}
li{
	display: grid;
	font-size: 20px;
	padding: 0 20px 0 20px;
	color: #333333;
	grid-template-columns: repeat(6, 1fr);
	border-bottom: 1.5px solid rgba(153, 153, 153, 0.6);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}



li:hover{
	background-color: rgba(153, 153, 153, 0.6);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border: 0;
}
